# workflow to test ClojureScript code
name: Clojure Script Tests

permissions:
  contents: read

on:
  workflow_call:

env:
  CLOJURE_VERSION: '1.11.1.1413'
  NODE_VERSION: '22.20.0'
  JAVA_VERSION: '21'

jobs:
  clojure-script-test:
    name: Clojure-Script Tests
    strategy:
        matrix:
          operating-system: [ubuntu-latest]  
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      # Must set up Java before running some Clojure tools
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{env.JAVA_VERSION}}

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Set up Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: ${{env.CLOJURE_VERSION}}

      - name: Fetch Clojure deps
        run: clojure -A:cljs -P
  
      - name: Fetch yarn deps
        run: yarn install --frozen-lockfile
  
      - name: Build test asset
        run: clojure -M:test compile test
  
      - name: Run some ClojureScript tests against DB version
        run: DB_GRAPH=1 node static/tests.cjs -r frontend.db.query-dsl-test
  
      - name: Run ClojureScript query tests against DB version with basic query type
        run: DB_GRAPH=1 DB_QUERY_TYPE=basic node static/tests.cjs -r frontend.db.query-dsl-test
  
      - name: Run ClojureScript tests
        run: node static/tests.cjs -e fix-me