# workflow to run E2E tests
name: E2E

# Running E2E test multiple times to confirm test stability.
# E2E test could be randomly failed due to the batch update mechanism of React.
# Robust E2E test could help improving dev experience.

permissions:
  contents: read
on:
  workflow_call:

env:
  CLOJURE_VERSION: '1.11.1.1413'
  NODE_VERSION: '22.20.0'
  JAVA_VERSION: '21'
  BABASHKA_VERSION: '1.0.168'

jobs:
  clj-e2e:
    name: CLJ Test E2E
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
          cache-dependency-path: |
            yarn.lock

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Set up Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: ${{ env.CLOJURE_VERSION }}
          bb: ${{ env.BABASHKA_VERSION }}

      - name: Fetch Clojure deps
        run: clojure -A:cljs -P

      - name: Fetch yarn deps
        run: yarn install --frozen-lockfile
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true

      # NOTE: require the app to be build with DEV-RELEASE flag
      - name: Prepare E2E test build
        run: |
          yarn gulp:build
          clojure -M:cljs release app db-worker inference-worker --config-merge "{:closure-defines {frontend.config/DEV-RELEASE true}}" --debug
          yarn webpack-app-build

      - name: Run e2e tests
        run: timeout 30m bb dev
        working-directory: clj-e2e

      - name: Collect screenshots
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: e2e-screenshots
          path: clj-e2e/e2e-dump/*
          retention-days: 1

  #rtc-e2e:
  #  name: RTC Test E2E
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@v5
  #
  #    - name: Set up Node
  #      uses: actions/setup-node@v6
  #      with:
  #        node-version: ${{ env.NODE_VERSION }}
  #
  #    - name: Set up Java
  #      uses: actions/setup-java@v5
  #      with:
  #        distribution: 'zulu'
  #        java-version: ${{ env.JAVA_VERSION }}
  #
  #    - name: Set up Clojure
  #      uses: DeLaGuardo/setup-clojure@13.4
  #      with:
  #        cli: ${{ env.CLOJURE_VERSION }}
  #        bb: ${{ env.BABASHKA_VERSION }}
  #
  #    - name: Fetch Clojure deps
  #      run: clojure -A:cljs -P
  #
  #    - name: Fetch yarn deps
  #      run: yarn install --frozen-lockfile
  #      env:
  #        PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
  #
  #    # NOTE: require the app to be build with DEV-RELEASE flag
  #    - name: Prepare E2E test build
  #      run: |
  #        yarn gulp:build 
  #        clojure -M:cljs release app db-worker inference-worker --config-merge "{:closure-defines {frontend.config/DEV-RELEASE true}}" --debug
  #        yarn webpack-app-build
  #        rsync -avz --exclude node_modules --exclude android --exclude ios ./static/ ./public/
  #
  #    - name: Run e2e tests
  #      run: timeout 30m bb run-rtc-extra-test
  #      working-directory: clj-e2e
  #
  #    - name: Collect screenshots
  #      if: ${{ failure() }}
  #      uses: actions/upload-artifact@v5
  #      with:
  #        name: e2e-screenshots
  #        path: clj-e2e/e2e-dump/*
  #        retention-days: 1